:root {
  --primary-color: #03a9f4;
  --secondary-color: #0288d1;
  --accent-color: #ff4081;
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0px;
}

h1 {
  font-size: 96px;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 48px;
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  margin: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}
.text-center {
  font-family: "Poppins", sans-serif;
}
h1.text-center {
  font-family: "Playfair Display", serif;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);

  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.btn-branding {
  background: var(--accent-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: white;
}

.btn-branding-outline {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--accent-color);
  color: white;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--accent-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--accent-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--accent-color);
  background: #fff1f5;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--accent-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}

.project-desciption {
  padding: 40px 60px;
}
